doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Loom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
      header
          h1 Loom
      main
          div#welcome 
              div#w_top
                form#init_name
                    input(placeholder="nickname", required, type="text")
                    button Save
                form#edit_name
                    h4 
                    input(placeholder="New nickname", required, type="text")
                    button Edit
              div#w_down
                form#create_room
                    input(placeholder="room name",required, type="text")
                    button Create Room
              ul
          div#room
              h3
              ul 
              form#msg
                  input(placeholder="message", required, type="text")
                  button Send
      script(src="/socket.io/socket.io.js")
      script(src="/public/js/app.js") 